<html>
<body>
<h2> Login Successful</h2>
<h4> <span style="color:red"> <%= username %> </span> , usted ya ha iniciado sesión, ya puede ver el contenido en el siguiente enlace </h4>
<ul>
  <li>
    <a href="/content"> Content </a>
  </li>
  <li><a href="/">Home</a></li>
</ul>
</html>
</body>
