<html>
<body>
<h2>Register</h2>
  
  <form method="POST" action="">
    <span> User: </span><input name="username" autofocus> 
    <span> Password: </span><input type="password" name="password">
    <button> Register</button>
</form>
</html>
</body>
