<html>
  <body>
    <h2 style="color:red"> UNATHORIZED USER ERROR !! </h2>
    <h4> User unauthorized "<%= username %>"</h4>
    <ul>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
          <a href="/register">Register</a>
      </li>
      <li>
          <a href="/">Home</a>
      </li>
    </ul>
  </form>
  </html>
</body>
